/* Global styles */
html {
    box-sizing: border-box;
  } 
  *, *:before, *:after {
    box-sizing: inherit;
  }


body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #292936;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Roboto", sans-serif; 
}

a {
    text-decoration: none;
    color: inherit;
}

/* text stylings */

h1.bold {
    font-size: 48px;
    font-weight: 900;
    margin: 0 0 16px 0; 
}

h1.reg {
    font-size: 48px;
    font-weight: 400px;
    margin: 0 0 16px 0; 
}

h1.light {
        font-size: 48px;
        font-weight: 300px;
        margin: 0 0 16px 0; 
}

h2.bold {
    font-size: 36px;
    font-weight: 900;
    margin: 0;
}

h2.reg {
    font-size: 36px;
    font-weight: 400;
    margin: 0;
}

h2.light {
    font-size: 36px;
    font-weight: 300;
    margin: 0;
}

h3.bold {
    font-size: 18px;
    font-weight: 700;
    margin: 0;
}

h3.reg {
    font-size: 18px;
    font-weight: 400;
    margin: 0;
}

h3.light {
    font-size: 18px;
    font-weight: 300;
    margin: 0;
}


p {
    margin-block-start: 0;
    margin-block-end: 0;
    font-family: inherit;
    color: #292936;
    font-weight: 300;
}

button {
    background-color: #76359C ;
    border-radius: 32px;
    padding: 8px 24px;
    font-family: inherit;
    color: inherit;
    font-size: 18px;
    border: none;
    cursor: pointer;
}

button.secondary {
    border: 1px solid white; 
    border-radius: 32px;
    background-color: transparent;
    padding: 8px 24px;
    font-family: inherit;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

/* Section 1: Hero */

.container-1 {
    display: flex;
    justify-content: center;
    background-color: #292936;
    width: 100%;
}

.hero-section {
    color: #F9FAF8;
    margin: 16px 24px;
    max-width: 1024px;
    width: 100%;
}

/* Navigation */
.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 68px;
}

.page-links {
    display: flex;
    gap: 80px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Hero content */
.hero-content {
    display: flex;
    justify-content: space-between;
    gap: 5%;
    align-items: center;
}

.hero-text-and-button {
    flex: 1;
    min-width: 300px;
    max-width: 469px;
}

.hero-content img {
    width: 469px; 
    height: auto;
    max-width: 100%;
}

.hero-content h3 {
    margin-bottom: 16px;
}


/* Section 2: Services */
.container-2 {
    display: flex;
    background-color: #ffffff;
    color: #292936;   
    width: 100%;
    justify-content: center;
}

.services-section {
    max-width: 900px;
    margin: 64px 24px;
    width: 100%;
}

.services-content {
    display: flex;
    justify-content: space-between;   
    border: #292936;
}

.services-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex: 1;
    min-width: 150px;
    max-width: 200px;
    gap: 16px;
}

.services-card img {
    height: 100px;
}

.services-section h2 {
    text-align: center;
    margin-bottom: 40px
}

.services-section h3 {
    font-weight: 700;
}

/* Section 3: */

.container-3 {
    display: flex;
    background-color: #E5E7EB;
    color: #292936;   
    width: 100%;
    justify-content: center;
}

.customer-quote-section {
    display: flex;
    flex-direction: column;
    max-width: 900px;   
    gap: 24px;
    margin: 80px 24px 80px 24px;
}

.customer-quote-section h2 {
    font-style: italic;
    font-weight: 200;
    font-size: 28px;
}

.customer-quote-section h3 {
    text-align: right;
}

/* Section 4: sign up cta */

.container-4 {
    display: flex;  
    width: 100%;
    justify-content: center;
    color: white;
    background-color: white;

}

.sign-up-section {
    display: flex;
    justify-content: space-between;
    max-width: 900px;
    margin: 64px 24px;
    width: 100%;
    background-color: #76359C;
    border-radius: 8px;
    padding: 24px 100px;   
}

.text-container p {
    margin-top: 8px;
    color: white;
}

/* Section 5: footer */

.container-5 {
    background-color: #292936;
    display: flex;
    width: 100%;
    justify-content: center;
}

footer {
    margin: 16px;
    color: #ffffff;
}

